<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.weatherapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_screen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_screen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDf9Tf9LTLjtleprY5trXFJ0sJv7pMnK6s" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".further_forecast_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchHistoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>